@font-face 
  font-family: Baloo
  src: url('../../assets/fonts/BalooChettan-Regular.ttf')
  font-family: ZCOOL
  src: url('../../assets/fonts/ZCOOLXiaoWei-Regular.ttf')
  
html, body
  margin: 0
  height: 100%

.date
  font-family: ZCOOL
  position: absolute
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  width: 100%
  height: 200px
  text-align: center
  background-image: url('../../assets/images/header.jpg')
  background-size: cover
  &--
    &day
      width: 100%
      height: 10%
      line-height: 0.3
      &:hover
        color: gold
    &time
      width: 25%
      height: 15%
      line-height: 0.5
      &:hover
        color: violet

    &searchbtn
      width: 100px
      height: 30px
    
.search
  position: relative
  &--
    &input
      width: 300px
      height: 50px
      background: #2b303b
      border: none
      font-size: 10pt
      float: left
      color: #262626
      padding-left: 45px
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      transition: background .55s ease


.main
  font-family: ZCOOL
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap
  position: absolute
  width: 100%
  height: calc(100% - 200px)
  bottom: 0px
  background-size: cover
  &--
    &dayContainer
      width: 18%
      min-width: 120px
      height: 300px
      border: 3px
      border-style: dotted
      margin-top: 50px
      justify-content: center
      cursor: pointer
      &:hover
        color: grey
    &celcium
      width: 12%
      height: 100px
      background-color: purple
    &dayOfWeek
      width: 100%
      text-align: center
      margin-top: 20px
    &dayOfWeek
      font-size: 30px
      color: #ee611a
      text-align: center
      line-height: 2
    &detailsContainer
      display: flex
      justify-content: center
      width: 100%
      height: 25%
      flex-wrap: wrap
      &__
        &hours
          width: 100%
          height: 35%
          display: flex
          justify-content: center
          align-items: center
      &__
        &detailsInfo
          width: 100%
          height: 65%
          display: flex
          justify-content: center
          flex-wrap: wrap
          align-items: center
          opacity: 0.8
          color: white
          user-select: none
      &__
        &cell
          display: flex
          justify-content: center
          align-items: center
          color: white
          width: 20%
          height: 100%
          text-align: center
          font-family: Baloo
          font-size: 28px
          flex-wrap: wrap

    &details
      display: flex
      width: 100%
      height: 50%
      justify-content: center
      flex-wrap: wrap
      align-items: center
      cursor: pointer
    
    &dayInfo
      font-family: Baloo
      border: 2px solid gold
      color: green
      width: 75%
      height: 20px
      text-align: center
      -moz-user-select: none
      -webkit-user-select: none
      -ms-user-select: none
      -user-select: none
      &:hover
        color: red
      
.active
  color: yellow

.bg--day
  background-image: url('../../assets/images/day.jpg')

.bg--night
  background-image: url('../../assets/images/night.jpg')

div main
  text-align: center

.day--cell
  text-align: center
  color: white




.search
  width: 100%
  position: relative
  display: flex

.searchTerm 
  width: 100%
  border: 3px solid #00B4CC
  border-right: none
  padding: 5px
  height: 20px
  border-radius: 5px 0 0 5px
  outline: none
  color: #9DBFAF


.searchTerm:focus
  color: #00B4CC


.searchButton 
  width: 40px
  height: 36px
  border: 1px solid #00B4CC
  background: #00B4CC
  text-align: center
  color: #fff
  border-radius: 0 5px 5px 0
  cursor: pointer
  font-size: 20px
  &__
    &icon
  background-image: url('../../assets/images/search.png')
/*Resize the wrap to see the search bar change!*/
.wrap
  width: 200px
  padding-top: 30px
  padding-left: 30px

 